@model FinalProject.Models.ViewModels.EditWorkoutBase



<div class="form-group">

    <label asp-for="TargetedMuscleGroup" class="col-md-2 control-label"></label>

    <div class="col-md-10">

        <input asp-for="TargetedMuscleGroup" class="form-control" />

        <span asp-validation-for="TargetedMuscleGroup" class="text-danger"></span>

    </div>

</div>

<div class="form-group">

    <label asp-for="Date" class="col-md-2 control-label"></label>

    <div class="col-md-10">

        <textarea readonly class="form-control">@DateTime.Now</textarea>

        <span asp-validation-for="Date" class="text-danger"></span>

    </div>

</div>