@model FinalProject.Models.ViewModels.CreateWorkoutSummaryCommand
@{
    ViewData["Title"] = "Create Workout";
}
   <img src="~/images/banner1.jpg" alt="GymPic1" class="img-responsive" />
<h2 style="text-align:center;">@ViewData["Title"]</h2>

<hr />

<form asp-controller="Workout" asp-action="Create" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @Html.Partial("_EditWorkoutPartial")

    <div class="form-group">

        <table class="table table-striped" id="exercises">
            <thead>
                <tr>
                    <th>Exercise Name</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Exercises.Count; i++)

                {
                    var ingredient = Model.Exercises[i];
                    <tr>
                        <td>
                            <input asp-for="Exercises[i].ExerciseName" />
                            <span asp-validation-for="Exercises[i].ExerciseName" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Exercises[i].Sets" />
                            <span asp-validation-for="Exercises[i].Sets" class=" text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Exercises[i].Reps" />
                            <span asp-validation-for="Exercises[i].Reps" class=" text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Exercises[i].Weight" />
                            <span asp-validation-for="Exercises[i].Weight" class=" text-danger"></span>
                        </td>
                        <td>
                            <a href="#" class="remove">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-success" id="addExercise">Add Exercise</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        var exercise = $('#exercises tbody');
        $("#addExercise").click(function () {
            var rowNo = exercise.find('tr').length;
            var template =
                '<tr>' +
                '<td><input name="Exercises[' + rowNo + '].ExerciseName" id="Exercises_' + rowNo + 'ExerciseName" /></td>' +
                '<td><input name="Exercises[' + rowNo + '].Sets" id="Exercises_' + rowNo + 'Sets" /></td>' +
                '<td><input name="Exercises[' + rowNo + '].Reps" id="Exercises_' + rowNo + 'Reps" /></td>' +
                '<td><input name="Exercises[' + rowNo + '].Weight" id="Exercises_' + rowNo + 'Weight" /></td>' +
                '</tr>';
            exercise.append(template);
        });

        exercise.on('click', '.remove', function (e) {
            $(this).closest('tr').remove();
        });
    </script>
}